<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>About me</title>
</head>
<body>
{% include 'navbar.html' %}
<h1>Hello, my name is Bogdan.</h1>
<p>I am a Computer Science student with a strong passion for technology and programming.</p>
<p>I enjoy working on projects in Python, Java, and C, constantly exploring new technologies and enhancing my skills.</p>
<p>In my free time, I like reading tech articles, experimenting with web development, and creating small games.</p>

</body>
</html>