<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>My website</title>


</head>
<body>
{% include 'navbar.html' %}
<h1>Hi, I'm Bogdan 👋</h1>
<h2>Welcome to my personal website!</h2>
<p>
  I'm a Computer Science student passionate about technology, coding, and continuous learning.<br>
  This website showcases my projects, skills, and experiences as I develop my career in IT.
</p>


</body>
</html>